In [16]:
#!pip3 uninstall fitz -y
# !pip3 install frontend
#!pip3 install PyPDF2
!pip3 install PyMuPDF

Collecting PyMuPDF
  Downloading PyMuPDF-1.23.7-cp39-none-macosx_10_9_x86_64.whl (4.1 MB)
     |████████████████████████████████| 4.1 MB 1.9 MB/s eta 0:00:01
Collecting PyMuPDFb==1.23.7
  Downloading PyMuPDFb-1.23.7-py3-none-macosx_10_9_x86_64.whl (30.1 MB)
     |████████████████████████████████| 30.1 MB 19.5 MB/s eta 0:00:01
Installing collected packages: PyMuPDFb, PyMuPDF
Successfully installed PyMuPDF-1.23.7 PyMuPDFb-1.23.7

In [11]:

# importing required modules 
import PyPDF2 
 
# creating a pdf file object 
pdfFileObj = open('Aug 2021 to oct 2021.pdf', 'rb') 
 
# creating a pdf reader object 
pdfReader = PyPDF2.PdfReader(pdfFileObj)
# creating a page object 
#pageObj = pdfReader.getPage(0) 
 
# extracting text from page 
#print(pageObj.extractText()) 
 
# closing the pdf file object 
pdfFileObj.close()

In [12]:
pdfReader

In [25]:
import fitz  # PyMuPDF

# Open the PDF file
pdf_path = 'Aug 2021 to oct 2021.pdf'
pdf_document = fitz.open(pdf_path)


# Read the text from each page and concatenate it into a single string
pdf_text = ""
for page_num in range(len(pdf_document)):
    page = pdf_document[page_num]
    pdf_text += page.get_text()

# Close the PDF after reading
pdf_document.close()

# Display the first 500 characters to get a sense of the data
print(pdf_text[:100000])

e-FILING REPORT COVER SHEET
COMPANY NAME:
DOES REPORT CONTAIN CONFIDENTIAL INFORMATION?
No
Yes  If yes, submit a redacted
public version (or a cover letter) by email.  Submit the confidential information as directed in OAR 860-001-
0070 or the terms of an applicable protective order.
Select report type:
RE (Electric)
RG (Gas)
RW (Water)
RT (Telecommunications)
RO (Other, for example, industry safety information)
Did you previously file a similar report?
No
Yes, report docket number:
Report is required by:
OAR
Statute
Order
Note: A one-time submission required by an order is a compliance filing and not a report
(file compliance in the applicable docket)
Other
(For example, federal regulations, or requested by Staff)
Is this report associated with a specific docket/case?
No
Yes, docket number:
List Key Words for this report.  We use these to improve search results.
Send the completed Cover Sheet and the Report in an email addressed to PUC.FilingCenter@state.or.us
Send confidential information, voluminous reports, or energy utility Results of Operations Reports to
PUC Filing Center, PO Box 1088, Salem, OR  97308-1088 or by delivery service to 201 High Street SE
Suite 100, Salem, OR  97301.
PUC FM050 (Rev. 6/2015)
•
□
□
□
□
□
□
□
□
□
□
□
□
□
□
□
I
Portland General Electric Company
I
RO 12
PGE 2021 Division 21 Service Disconnection Quarterly Report
860-021-0408(2)
I
Print
N
I





November 19, 2021


Public Utility Commission of Oregon
Attn: Filing Center
201 High Street, S.E.
P.O. Box 1088
Salem, OR  97308-1088

RE:
PGE 2021 Division 21 Service Disconnection Quarterly Report
(August 1, 2021 – October 31, 2021)

Pursuant to OAR 860-021-0408(2), Portland General Electric Company (PGE) hereby
submits the quarterly report on Service Disconnections detailing the number of residential
disconnections for non-payment and subsequent reconnections as prescribed in this rule.

Due to the moratorium on disconnections related to COVID-19, PGE has been reporting
no residential disconnections for non-payment between April 1, 2020 to July 31, 2021.
PGE resumed residential disconnections in August 2021 and disconnections from August
to October 31, 2021 are reflected in this report.

Attachment A provides the information by zip code, prescribed by OAR 860-021-
0408(3)(b), for the reporting period.

Should you have any questions or comments regarding this filing, please contact Mary
Widman at mary.widman@pgn.com  Please direct all formal correspondence and
requests to the following email address pge.opuc.filings@pgn.com


Sincerely,

\s\ Robert Macfarlane


Robert Macfarlane

Manager, Pricing & Tariffs

Enclosure
Portland General Electric
121 SW Salmon Street• Portland, OR 97204
portlandgeneral .com
PGE 2021 Division 21 Service Disconnection Quarterly Report
(August 1, 2021 – October 31, 2021)
Page 2



PGE 2021 Division 21 Service Disconnection Quarterly Report
(August 1, 2021 – October 31, 2021)

OAR 860-021-0408(3)(a) - On a companywide basis:

Data Point
Reporting Requirements
August
2021
September
2021
October
2021
A
Number of active residential accounts.1
800,711
802,294
802,697
B
Number of service disconnections for non-
payment.
63
325
535
C
Percentage of accounts with service
disconnections for non-payment.
0.01%
0.04%
0.07%
D
Number of service disconnections for non-
payment on energy assistance recipient
accounts.
0
3
8
E
Number of service disconnections for non-
payment on medical certificate holder
accounts.
0
0
0
F
Number of service disconnections
reported under data points D and E
(above).
0
3
8
G
Number of service reconnections
following a disconnection for non-payment
on the same day or next calendar day
following disconnection (Days 0-1).
43
221
405
H
Number of service reconnections
following a disconnection for non-payment
that occur more than one day and within 7
calendar days following disconnection
(Days 2-7).
7
39
50
I
For each local service area within the
companywide area used for reporting (Zip
Code)
See
attached
See
attached
See
attached
J
Number of days on which the energy
utility was required to impose a
moratorium on service disconnection for
severe weather per OAR 860-021-0407
3
0
0



1 PGE used service point as a metric to calculate active residential accounts.  Service point, unless otherwise
designated by agreement with the Customer, is the first point of connection of PGE's service drop, service lateral
or bus to the Customer’s service entrance conductors or equipment determined without regard to the location of
the meter or metering equipment.
PGE 2021 Division 21 Service Disconnection Quarterly Report
(August 1, 2021 – October 31, 2021)
Page 3



OAR 860-021-0408(3)(b) - For each local service area2 within the companywide area used for
reporting:

Data
Point
Reporting Requirements
August
2021
September
2021
October
2021
Comments
A
Number of active residential
accounts.3
800,711
802,294
802,697
See Attachment A for breakout by
zip code.
B
Number of service
disconnections for non-
payment.
63
325
535
See Attachment A for breakout by
zip code.
C
Number of service
disconnections for non-payment
on energy assistance recipient
accounts.
0
3
8
See Attachment A for breakout by
zip code.
D
Number of service
disconnections for non-payment
on emergency medical
certificate holder accounts.
0
0
0
See Attachment A for breakout by
zip code.
E
Number of service
disconnections reported under
both paragraph (C) and
paragraph (D).
0
3
8

F
Number of days on which the
energy utility was required to
impose a moratorium on service
disconnection for severe
weather per OAR 860-021-
0407.
3
0
0


2 As defined in the rule, PGE uses zip code to report on Local Service Area.
3 PGE used service point as a metric to calculate active residential accounts.  Service point, unless otherwise
designated by agreement with the Customer, is the first point of connection of PGE's service drop, service lateral
or bus to the Customer’s service entrance conductors or equipment determined without regard to the location of
the meter or metering equipment.








PGE 2021 Division 21 Service Disconnection Quarterly Report
(August 1, 2021 – October 31, 2021)

Attachment A
PGE's Active Residential Count by Zip Code
County
City
Zip
Aug-21
Sep-21
Oct-21
All
All
All
800,711
802,294
802,697
Clackamas
Beavercreek
97004
1,767
1,773
1,774
Clackamas
Boring
97009
3,377
3,376
3,381
Clackamas
Brightwood
97011
499
499
498
Clackamas
Canby
97013
2,357
2,356
2,353
Clackamas
Clackamas
97015
9,083
9,104
9,107
Clackamas
Colton
97017
1,118
1,125
1,127
Clackamas
Damascus
97089
4,810
4,803
4,812
Clackamas
Eagle Creek
97022
1,450
1,452
1,450
Clackamas
Estacada
97023
4,695
4,725
4,760
Clackamas
Gladstone
97027
4,937
4,938
4,936
Clackamas
Government Camp
97028
723
724
724
Clackamas
Happy Valley
97086
12,694
12,758
12,801
Clackamas
Lake Oswego
97034
8,428
8,448
8,446
Clackamas
Lake Oswego
97035
11,369
11,386
11,383
Clackamas
Marylhurst
97036
2
2
2
Clackamas
Molalla
97038
6,297
6,307
6,301
Clackamas
Mulino
97042
1,205
1,207
1,205
Clackamas
Oregon City
97045
22,127
22,139
22,072
Clackamas
Portland
97222
15,548
15,564
15,546
Clackamas
Portland
97267
12,805
12,820
12,804
Clackamas
Rhododendron
97049
1,759
1,767
1,766
Clackamas
Sandy
97055
7,916
7,916
7,939
Clackamas
Welches
97067
1,259
1,262
1,263
Clackamas
West Linn
97068
11,625
11,642
11,645
Clackamas
Wilsonville
97070
11,390
11,410
11,440
Columbia
Scappoose
97056
28
29
29
Marion
Aumsville
97325
150
150
150
Marion
Aurora
97002
2,229
2,232
2,229
Marion
Donald
97020
375
376
377
Marion
Gervais
97026
1,160
1,159
1,159
Marion
Hubbard
97032
1,737
1,734
1,735
Marion
Jefferson
97352
120
120
120
Marion
Mount Angel
97362
1,506
1,508
1,508
Marion
Saint Paul
97137
485
484
483
Marion
Salem
97301
18,779
18,806
18,790
Marion
Salem
97302
17,099
17,133
17,127
Marion
Salem
97303
10,690
10,704
10,703
Marion
Salem
97305
15,403
15,456
15,433
Marion
Salem
97306
13,710
13,740
13,744
Marion
Salem
97317
8,348
8,366
8,369
Marion
Scotts Mills
97375
513
513
512
Marion
Silverton
97381
6,361
6,371
6,363
Marion
Sublimity
97385
141
141
140
PGE 2021 Division 21 Service Disconnection Quarterly Report
(August 1, 2021 – October 31, 2021)
Attachment A
Page 1
Marion
Turner
97392
1,926
1,934
1,933
Marion
Woodburn
97071
9,665
9,692
9,716
Multnomah
Bridal Veil
97010
2
2
2
Multnomah
Corbett
97019
1,221
1,222
1,219
Multnomah
Fairview
97024
4,582
4,584
4,577
Multnomah
Gresham
97030
15,244
15,313
15,325
Multnomah
Gresham
97080
16,192
16,220
16,236
Multnomah
Portland
97201
7,351
7,367
7,370
Multnomah
Portland
97202
19,933
19,950
19,964
Multnomah
Portland
97203
12,845
12,872
12,874
Multnomah
Portland
97204
419
419
419
Multnomah
Portland
97205
2,955
2,976
2,975
Multnomah
Portland
97206
21,603
21,672
21,659
Multnomah
Portland
97209
14,915
15,063
15,128
Multnomah
Portland
97210
7,926
7,944
7,955
Multnomah
Portland
97213
3,101
3,103
3,094
Multnomah
Portland
97214
15,270
15,316
15,306
Multnomah
Portland
97215
7,595
7,594
7,594
Multnomah
Portland
97216
4,185
4,193
4,185
Multnomah
Portland
97217
12,761
12,787
12,786
Multnomah
Portland
97219
17,449
17,453
17,462
Multnomah
Portland
97221
5,535
5,542
5,545
Multnomah
Portland
97227
418
420
419
Multnomah
Portland
97230
15,514
15,537
15,516
Multnomah
Portland
97231
1,983
1,991
1,985
Multnomah
Portland
97232
5,295
5,311
5,308
Multnomah
Portland
97233
15,045
15,099
15,106
Multnomah
Portland
97236
13,772
13,789
13,783
Multnomah
Portland
97239
9,673
9,699
9,719
Multnomah
Portland
97266
13,256
13,285
13,275
Multnomah
Troutdale
97060
7,930
7,945
7,996
Polk
Dallas
97338
241
241
239
Polk
Grand Ronde
97347
793
794
794
Polk
Rickreall
97371
105
105
105
Polk
Salem
97304
1,322
1,320
1,322
Washington
Banks
97106
1,550
1,551
1,552
Washington
Beaverton
97003
11,203
11,210
11,201
Washington
Beaverton
97005
11,951
11,972
11,970
Washington
Beaverton
97006
18,631
18,669
18,670
Washington
Beaverton
97007
18,403
18,453
18,573
Washington
Beaverton
97008
11,952
11,962
11,963
Washington
Beaverton
97078
9,411
9,430
9,447
Washington
Buxton
97109
82
82
82
Washington
Cornelius
97113
4,971
4,995
5,050
Washington
Forest Grove
97116
835
834
833
Washington
Gales Creek
97117
263
263
262
Washington
Gaston
97119
1,608
1,603
1,607
PGE 2021 Division 21 Service Disconnection Quarterly Report
(August 1, 2021 – October 31, 2021)
Attachment A
Page 2
Washington
Hillsboro
97123
17,589
17,620
17,670
Washington
Hillsboro
97124
21,653
21,664
21,670
Washington
Manning
97125
18
19
18
Washington
North Plains
97133
2,264
2,271
2,275
Washington
Portland
97223
20,741
20,773
20,764
Washington
Portland
97224
15,810
15,841
15,833
Washington
Portland
97225
11,560
11,579
11,581
Washington
Portland
97229
27,788
27,820
27,849
Washington
Sherwood
97140
9,395
9,414
9,412
Washington
Tualatin
97062
11,313
11,319
11,322
Yamhill
Amity
97101
1,542
1,542
1,545
Yamhill
Carlton
97111
1,459
1,459
1,461
Yamhill
Dayton
97114
1,755
1,758
1,752
Yamhill
Dundee
97115
1,697
1,700
1,701
Yamhill
Lafayette
97127
1,440
1,440
1,441
Yamhill
Mcminnville
97128
492
493
494
Yamhill
Newberg
97132
11,783
11,807
11,817
Yamhill
Sheridan
97378
2,799
2,799
2,804
Yamhill
Willamina
97396
1,340
1,346
1,345
Yamhill
Yamhill
97148
1,317
1,327
1,336
PGE 2021 Division 21 Service Disconnection Quarterly Report
(August 1, 2021 – October 31, 2021)
Attachment A
Page 3
Note: Zip Codes are only provided if there is data for the given condition.
Aug-21
Sep-21
Oct-21
Zip Code
Count
Zip Code
Count
Zip Code
Count
97006
1
97002
1
97002
1
97007
1
97003
9
97003
11
97009
2
97005
10
97004
1
97013
1
97006
7
97005
11
97027
1
97007
3
97006
16
97028
1
97008
3
97007
6
97030
1
97009
4
97008
7
97035
1
97013
1
97009
1
97045
1
97015
6
97015
14
97068
1
97019
2
97022
1
97078
1
97020
1
97023
5
97113
1
97022
2
97024
8
97114
1
97024
11
97027
5
97116
2
97027
3
97030
18
97119
1
97030
21
97035
3
97123
1
97032
1
97038
1
97124
2
97034
1
97045
15
97127
1
97035
1
97049
1
97132
2
97038
1
97055
6
97133
1
97042
1
97060
5
97203
1
97045
8
97062
7
97217
1
97055
2
97067
1
97224
1
97060
2
97068
2
97233
8
97062
2
97070
4
97236
9
97068
2
97071
9
97266
7
97070
3
97078
7
97267
1
97071
4
97080
11
97301
3
97078
3
97086
11
97303
1
97080
3
97113
1
97304
1
97086
2
97114
1
97305
3
97089
2
97115
1
97317
2
97101
1
97119
1
97392
1
97113
2
97123
9
Grand Total
63
97114
2
97124
26
97123
9
97127
5
97124
6
97132
9
97128
1
97133
1
97132
3
97140
2
97137
1
97148
2
Data Point B - Number of
Disconnects by Zip Code
Data Point B - Number of
Disconnects by Zip Code
Data Point B - Number of
Disconnects by Zip Code
PGE 2021 Division 21 Service Disconnection Quarterly Report
(August 1, 2021 – October 31, 2021)
Attachment A
Page 4
97140
1
97202
6
97148
1
97203
5
97202
3
97206
8
97203
4
97209
4
97206
12
97210
2
97209
3
97213
3
97213
1
97214
3
97214
2
97215
1
97216
2
97216
1
97217
1
97217
3
97219
3
97219
10
97221
1
97222
13
97222
10
97223
9
97223
8
97224
8
97224
1
97225
4
97225
3
97229
12
97229
5
97230
22
97230
17
97232
1
97233
13
97233
22
97236
18
97236
17
97239
1
97266
17
97266
10
97267
7
97267
7
97301
19
97301
21
97302
24
97302
3
97303
9
97303
1
97305
28
97305
7
97306
8
97306
6
97317
5
97362
1
97347
1
97378
1
97362
3
97381
4
97378
3
97396
2
97381
2
NULL
5
97392
1
Grand Total
325
NULL
8
Grand Total
535
PGE 2021 Division 21 Service Disconnection Quarterly Report
(August 1, 2021 – October 31, 2021)
Attachment A
Page 5
Note: Zip Codes are only provided if there is data for the given condition.
Aug-21
Sep-21
Oct-21
Zip Code
Count
Zip Code
Count
Zip Code
Count
Grand Total
0
97006
1
97003
1
97062
2
97006
3
Grand Total
3
97027
1
97045
1
97301
1
97303
1
Grand Total
8
Data Point D - Number of
Disconnects by Zip Code
for Energy Assistance
Recipient Accounts
Data Point D - Number of
Disconnects by Zip Code
for Energy Assistance
Recipient Accounts
Data Point D - Number of
Disconnects by Zip Code
for Energy Assistance
Recipient Accounts
PGE 2021 Division 21 Service Disconnection Quarterly Report
(August 1, 2021 – October 31, 2021)
Attachment A
Page 6
Note: Zip Codes are only provided if there is data for the given condition.
Aug-21
Sep-21
Oct-21
Zip Code
Count
Zip Code
Count
Zip Code
Count
Grand Total
0
Grand Total
0
Grand Total
0
Data Point E - Number of
Disconnects by Zip Code for
Medical Certificate
Accounts
Data Point E - Number of
Disconnects by Zip Code
for Medical Certificate
Accounts
Data Point E - Number of
Disconnects by Zip Code
for Medical Certificate
Accounts
PGE 2021 Division 21 Service Disconnection Quarterly Report
(August 1, 2021 – October 31, 2021)
Attachment A
Page 7
Note: Zip Codes are only provided if there is data for the given condition.
Aug-21
Sep-21
Oct-21
Zip Code
Count
Zip Code
Count
Zip Code
Count
Grand Total
0
97006
1
97003
1
97062
2
97006
3
Grand Total
3
97027
1
97045
1
97301
1
97303
1
Grand Total
8
Data Point F - Number of
Disconnects by Zip Code for
Energy Assistance Recipient
AND Medical Certificate
Accounts
Data Point F - Number of
Disconnects by Zip Code for
Energy Assistance Recipient
AND Medical Certificate
Accounts
Data Point F - Number of
Disconnects by Zip Code
for Energy Assistance
Recipient AND Medical
Certificate Accounts
PGE 2021 Division 21 Service Disconnection Quarterly Report
(August 1, 2021 – October 31, 2021)
Attachment A
Page 8

In [28]:
import re
import pandas as pd

# Function to extract disconnection data
def extract_disconnections(text, month):
    pattern = f'{month}\n(.*?)Grand Total'
    matches = re.findall(pattern, text, re.DOTALL)
    if matches:
        # Extract zip codes and counts for the given month
        return dict(re.findall(r'(\d{5})\n(\d+)', matches[0]))
    return {}

# Extract disconnection data for each month
disconnection_data_aug = extract_disconnections(pdf_text, 'Aug 2021')
disconnection_data_sep = extract_disconnections(pdf_text, 'Sep 2021')
disconnection_data_oct = extract_disconnections(pdf_text, 'Oct 2021')

# Function to create a DataFrame from the disconnection data
def create_dataframe(disconnection_data):
    # Create a DataFrame from the disconnection data dictionary
    df = pd.DataFrame(list(disconnection_data.items()), columns=['ZipCode', 'Count'])
    df['ZipCode'] = df['ZipCode'].astype(int)  # Convert ZipCode to integer
    df['Count'] = df['Count'].astype(int)  # Convert Count to integer
    return df

# Create DataFrames for each month
df_aug = create_dataframe(disconnection_data_aug)
df_sep = create_dataframe(disconnection_data_sep)
df_oct = create_dataframe(disconnection_data_oct)

# Merge the DataFrames on ZipCode
merged_df = df_aug.merge(df_sep, on='ZipCode', how='outer', suffixes=('_Aug', '_Sep'))
merged_df = merged_df.merge(df_oct, on='ZipCode', how='outer')
merged_df.rename(columns={'Count': 'Count_Oct'}, inplace=True)

# Replace NaN values with 0 (assuming NaN means no disconnections)
merged_df.fillna(0, inplace=True)

# Convert counts to integers
merged_df['Count_Aug'] = merged_df['Count_Aug'].astype(int)
merged_df['Count_Sep'] = merged_df['Count_Sep'].astype(int)
merged_df['Count_Oct'] = merged_df['Count_Oct'].astype(int)

print(merged_df)

Empty DataFrame
Columns: [Count_Aug, Count_Sep, ZipCode, Count_Oct]
Index: []

In [29]:
import re
import pandas as pd

# Define the regex pattern to match zip codes and counts
zipcode_pattern = r'(\d{5})\s+(\d{1,7})\s+(\d{1,7})\s+(\d{1,7})'
disconnections_pattern = r'Data Point B - Number of\s+Disconnects by Zip Code(.*?)Data Point C'

# Find all matches for zip codes
zipcode_matches = re.findall(zipcode_pattern, pdf_text, re.DOTALL)

# Find all matches for disconnections
disconnections_matches = re.findall(disconnections_pattern, pdf_text, re.DOTALL)

# Parse disconnections data for each month
disconnections_data = {'Aug-21': {}, 'Sep-21': {}, 'Oct-21': {}}
months = ['Aug-21', 'Sep-21', 'Oct-21']
for month, match in zip(months, disconnections_matches):
    month_data = re.findall(r'(\d{5})\s+(\d+)', match)
    for zip_code, count in month_data:
        disconnections_data[month][zip_code] = int(count)

# Convert zip code matches to DataFrame
zipcode_df = pd.DataFrame(zipcode_matches, columns=['ZipCode', 'Active_Aug-21', 'Active_Sep-21', 'Active_Oct-21'])

# Convert disconnections data to DataFrame
disconnections_df_list = []
for month, data in disconnections_data.items():
    month_df = pd.DataFrame(list(data.items()), columns=['ZipCode', month])
    disconnections_df_list.append(month_df)

# Merge the disconnections DataFrames on ZipCode
merged_disconnections_df = disconnections_df_list[0]
for df in disconnections_df_list[1:]:
    merged_disconnections_df = pd.merge(merged_disconnections_df, df, on='ZipCode', how='outer')

# Merge the active customer counts with disconnection counts
final_df = pd.merge(zipcode_df, merged_disconnections_df, on='ZipCode', how='left')

# Replace NaN values with 0 (assuming NaN means no disconnections)
final_df.fillna(0, inplace=True)

# Convert all counts to integers
final_df.iloc[:, 1:] = final_df.iloc[:, 1:].astype(int)

# Display the final DataFrame
print(final_df)

    ZipCode  Active_Aug-21  Active_Sep-21  Active_Oct-21  Aug-21  Sep-21  \
0     97011            499            499            498       0       0
1     97028            723            724            724       0       0
2     97036              2              2              2       0       0
3     97056             28             29             29       0       0
4     97325            150            150            150       0       0
..      ...            ...            ...            ...     ...     ...
111   97301              1          97303              1       0       0
112   97006              1          97003              1       0       0
113   97062              2          97006              3       0       0
114   97027              1          97045              1       0       0
115   97301              1          97303              1       0       0

     Oct-21
0         0
1         0
2         0
3         0
4         0
..      ...
111       0
112       0
113       0
114       0
115       0

[116 rows x 7 columns]

In [33]:
final_df.tail(50)

,ZipCode,Active_Aug-21,Active_Sep-21,Active_Oct-21,Aug-21,Sep-21,Oct-21
66,97305,3,97089,2,0,0,0
67,97115,1,97317,2,0,0,0
68,97101,1,97119,1,0,0,0
69,97392,1,97113,2,0,0,0
70,97114,2,97124,26,0,0,0
71,97123,9,97127,5,0,0,0
72,97124,6,97132,9,0,0,0
73,97128,1,97133,1,0,0,0
74,97132,3,97140,2,0,0,0
75,97137,1,97148,2,0,0,0
76,97140,1,97202,6,0,0,0
77,97148,1,97203,5,0,0,0
78,97202,3,97206,8,0,0,0
79,97203,4,97209,4,0,0,0
80,97206,12,97210,2,0,0,0
81,97209,3,97213,3,0,0,0
82,97213,1,97214,3,0,0,0
83,97214,2,97215,1,0,0,0
84,97216,2,97216,1,0,0,0
85,97217,1,97217,3,0,0,0
86,97219,3,97219,10,0,0,0
87,97221,1,97222,13,0,0,0
88,97222,10,97223,9,0,0,0
89,97223,8,97224,8,0,0,0
90,97224,1,97225,4,0,0,0
91,97225,3,97229,12,0,0,0
92,97229,5,97230,22,0,0,0
93,97230,17,97232,1,0,0,0
94,97233,13,97233,22,0,0,0
95,97236,18,97236,17,0,0,0
96,97239,1,97266,17,0,0,0
97,97266,10,97267,7,0,0,0
98,97267,7,97301,19,0,0,0
99,97301,21,97302,24,0,0,0
100,97302,3,97303,9,0,0,0
101,97303,1,97305,28,0,0,0
102,97305,7,97306,8,0,0,0
103,97306,6,97317,5,0,0,0
104,97362,1,97347,1,0,0,0
105,97378,1,97362,3,0,0,0
106,97381,4,97378,3,0,0,0
107,97396,2,97381,2,0,0,0
108,97006,1,97003,1,0,0,0
109,97062,2,97006,3,0,0,0
110,97027,1,97045,1,0,0,0
111,97301,1,97303,1,0,0,0
112,97006,1,97003,1,0,0,0
113,97062,2,97006,3,0,0,0
114,97027,1,97045,1,0,0,0
115,97301,1,97303,1,0,0,0

In [38]:
import re
import pandas as pd

# Assuming `pdf_text` contains the text extracted from the PDF

# Regular expression to match zip codes and the following numbers
zipcode_pattern = re.compile(
    r'(\d{5})\s+'               # Match the zip code
    r'(\d+)\s+(\d+)\s+(\d+)\s+' # Match active account numbers for each month
    r'(\d+)\s+(\d+)\s+(\d+)'    # Match disconnection numbers for each month
)

# Find all matches in the text
matches = zipcode_pattern.findall(pdf_text)

# Create a DataFrame from the matches
df = pd.DataFrame(matches, columns=[
    'Zip Code', 
    'Active Accounts Aug', 'Active Accounts Sep', 'Active Accounts Oct',
    'Disconnections Aug', 'Disconnections Sep', 'Disconnections Oct'
])

# Convert the string numbers to integers
df[['Active Accounts Aug', 'Active Accounts Sep', 'Active Accounts Oct',
    'Disconnections Aug', 'Disconnections Sep', 'Disconnections Oct']] = df[[
    'Active Accounts Aug', 'Active Accounts Sep', 'Active Accounts Oct',
    'Disconnections Aug', 'Disconnections Sep', 'Disconnections Oct'
]].astype(int)

# Display the DataFrame
df

,Zip Code,Active Accounts Aug,Active Accounts Sep,Active Accounts Oct,Disconnections Aug,Disconnections Sep,Disconnections Oct
0,97006,1,97002,1,97002,1,97007
1,97003,9,97003,11,97009,2,97005
2,97004,1,97013,1,97006,7,97005
3,97027,1,97007,3,97006,16,97028
4,97008,3,97007,6,97030,1,97009
5,97008,7,97035,1,97013,1,97009
6,97045,1,97015,6,97015,14,97068
7,97019,2,97022,1,97078,1,97020
8,97023,5,97113,1,97022,2,97024
9,97114,1,97024,11,97027,5,97116
10,97027,3,97030,18,97119,1,97030
11,97035,3,97123,1,97032,1,97038
12,97124,2,97034,1,97045,15,97127
13,97035,1,97049,1,97132,2,97038
14,97055,6,97133,1,97042,1,97060
15,97203,1,97045,8,97062,7,97217
16,97055,2,97067,1,97224,1,97060
17,97068,2,97233,8,97062,2,97070
18,97236,9,97068,2,97071,9,97266
19,97070,3,97078,7,97267,1,97071
20,97080,11,97301,3,97078,3,97086
21,97303,1,97080,3,97113,1,97304
22,97086,2,97114,1,97305,3,97089
23,97115,1,97317,2,97101,1,97119
24,97114,2,97124,26,97123,9,97127
25,97124,6,97132,9,97128,1,97133
26,97132,3,97140,2,97137,1,97148
27,97140,1,97202,6,97148,1,97203
28,97202,3,97206,8,97203,4,97209
29,97206,12,97210,2,97209,3,97213
30,97213,1,97214,3,97214,2,97215
31,97216,2,97216,1,97217,1,97217
32,97219,3,97219,10,97221,1,97222
33,97222,10,97223,9,97223,8,97224
34,97224,1,97225,4,97225,3,97229
35,97229,5,97230,22,97230,17,97232
36,97233,13,97233,22,97236,18,97236
37,97239,1,97266,17,97266,10,97267
38,97267,7,97301,19,97301,21,97302
39,97302,3,97303,9,97303,1,97305
40,97305,7,97306,8,97306,6,97317
41,97362,1,97347,1,97378,1,97362
42,97381,4,97378,3,97396,2,97381
43,97006,1,97003,1,97062,2,97006
44,97027,1,97045,1,97301,1,97303
45,97006,1,97003,1,97062,2,97006
46,97027,1,97045,1,97301,1,97303

In [40]:
import re
import pandas as pd

# Regex pattern adjusted for debugging
pattern = re.compile(
    r'(\d{5})\s+'  # Zip code
    r'(\d+)\s+(\d+)\s+(\d+)\s+'  # Active accounts for Aug, Sep, Oct
    r'(\d+)\s+(\d+)\s+(\d+)'  # Disconnections for Aug, Sep, Oct
)

# Find all matches in the text
matches = pattern.findall(pdf_text)

# Check the raw matches
for match in matches:
    print(match)

# Assuming the matches have the correct structure, create the DataFrame
# If the above print statements do not show the correct structure, you need to adjust your regex pattern accordingly
if matches:
    df = pd.DataFrame(matches, columns=[
        'Zip Code',
        'Active Accounts Aug', 'Active Accounts Sep', 'Active Accounts Oct',
        'Disconnections Aug', 'Disconnections Sep', 'Disconnections Oct'
    ])
    df.iloc[:, 1:] = df.iloc[:, 1:].apply(pd.to_numeric)
    print(df)
else:
    print("No matches found, check the regex pattern and the structure of the text.")

('97006', '1', '97002', '1', '97002', '1', '97007')
('97003', '9', '97003', '11', '97009', '2', '97005')
('97004', '1', '97013', '1', '97006', '7', '97005')
('97027', '1', '97007', '3', '97006', '16', '97028')
('97008', '3', '97007', '6', '97030', '1', '97009')
('97008', '7', '97035', '1', '97013', '1', '97009')
('97045', '1', '97015', '6', '97015', '14', '97068')
('97019', '2', '97022', '1', '97078', '1', '97020')
('97023', '5', '97113', '1', '97022', '2', '97024')
('97114', '1', '97024', '11', '97027', '5', '97116')
('97027', '3', '97030', '18', '97119', '1', '97030')
('97035', '3', '97123', '1', '97032', '1', '97038')
('97124', '2', '97034', '1', '97045', '15', '97127')
('97035', '1', '97049', '1', '97132', '2', '97038')
('97055', '6', '97133', '1', '97042', '1', '97060')
('97203', '1', '97045', '8', '97062', '7', '97217')
('97055', '2', '97067', '1', '97224', '1', '97060')
('97068', '2', '97233', '8', '97062', '2', '97070')
('97236', '9', '97068', '2', '97071', '9', '97266')
('97070', '3', '97078', '7', '97267', '1', '97071')
('97080', '11', '97301', '3', '97078', '3', '97086')
('97303', '1', '97080', '3', '97113', '1', '97304')
('97086', '2', '97114', '1', '97305', '3', '97089')
('97115', '1', '97317', '2', '97101', '1', '97119')
('97114', '2', '97124', '26', '97123', '9', '97127')
('97124', '6', '97132', '9', '97128', '1', '97133')
('97132', '3', '97140', '2', '97137', '1', '97148')
('97140', '1', '97202', '6', '97148', '1', '97203')
('97202', '3', '97206', '8', '97203', '4', '97209')
('97206', '12', '97210', '2', '97209', '3', '97213')
('97213', '1', '97214', '3', '97214', '2', '97215')
('97216', '2', '97216', '1', '97217', '1', '97217')
('97219', '3', '97219', '10', '97221', '1', '97222')
('97222', '10', '97223', '9', '97223', '8', '97224')
('97224', '1', '97225', '4', '97225', '3', '97229')
('97229', '5', '97230', '22', '97230', '17', '97232')
('97233', '13', '97233', '22', '97236', '18', '97236')
('97239', '1', '97266', '17', '97266', '10', '97267')
('97267', '7', '97301', '19', '97301', '21', '97302')
('97302', '3', '97303', '9', '97303', '1', '97305')
('97305', '7', '97306', '8', '97306', '6', '97317')
('97362', '1', '97347', '1', '97378', '1', '97362')
('97381', '4', '97378', '3', '97396', '2', '97381')
('97006', '1', '97003', '1', '97062', '2', '97006')
('97027', '1', '97045', '1', '97301', '1', '97303')
('97006', '1', '97003', '1', '97062', '2', '97006')
('97027', '1', '97045', '1', '97301', '1', '97303')
   Zip Code Active Accounts Aug Active Accounts Sep Active Accounts Oct  \
0     97006                   1               97002                   1
1     97003                   9               97003                  11
2     97004                   1               97013                   1
3     97027                   1               97007                   3
4     97008                   3               97007                   6
5     97008                   7               97035                   1
6     97045                   1               97015                   6
7     97019                   2               97022                   1
8     97023                   5               97113                   1
9     97114                   1               97024                  11
10    97027                   3               97030                  18
11    97035                   3               97123                   1
12    97124                   2               97034                   1
13    97035                   1               97049                   1
14    97055                   6               97133                   1
15    97203                   1               97045                   8
16    97055                   2               97067                   1
17    97068                   2               97233                   8
18    97236                   9               97068                   2
19    97070                   3               97078                   7
20    97080                  11               97301                   3
21    97303                   1               97080                   3
22    97086                   2               97114                   1
23    97115                   1               97317                   2
24    97114                   2               97124                  26
25    97124                   6               97132                   9
26    97132                   3               97140                   2
27    97140                   1               97202                   6
28    97202                   3               97206                   8
29    97206                  12               97210                   2
30    97213                   1               97214                   3
31    97216                   2               97216                   1
32    97219                   3               97219                  10
33    97222                  10               97223                   9
34    97224                   1               97225                   4
35    97229                   5               97230                  22
36    97233                  13               97233                  22
37    97239                   1               97266                  17
38    97267                   7               97301                  19
39    97302                   3               97303                   9
40    97305                   7               97306                   8
41    97362                   1               97347                   1
42    97381                   4               97378                   3
43    97006                   1               97003                   1
44    97027                   1               97045                   1
45    97006                   1               97003                   1
46    97027                   1               97045                   1

   Disconnections Aug Disconnections Sep Disconnections Oct
0               97002                  1              97007
1               97009                  2              97005
2               97006                  7              97005
3               97006                 16              97028
4               97030                  1              97009
5               97013                  1              97009
6               97015                 14              97068
7               97078                  1              97020
8               97022                  2              97024
9               97027                  5              97116
10              97119                  1              97030
11              97032                  1              97038
12              97045                 15              97127
13              97132                  2              97038
14              97042                  1              97060
15              97062                  7              97217
16              97224                  1              97060
17              97062                  2              97070
18              97071                  9              97266
19              97267                  1              97071
20              97078                  3              97086
21              97113                  1              97304
22              97305                  3              97089
23              97101                  1              97119
24              97123                  9              97127
25              97128                  1              97133
26              97137                  1              97148
27              97148                  1              97203
28              97203                  4              97209
29              97209                  3              97213
30              97214                  2              97215
31              97217                  1              97217
32              97221                  1              97222
33              97223                  8              97224
34              97225                  3              97229
35              97230                 17              97232
36              97236                 18              97236
37              97266                 10              97267
38              97301                 21              97302
39              97303                  1              97305
40              97306                  6              97317
41              97378                  1              97362
42              97396                  2              97381
43              97062                  2              97006
44              97301                  1              97303
45              97062                  2              97006
46              97301                  1              97303

In [41]:
df

,Zip Code,Active Accounts Aug,Active Accounts Sep,Active Accounts Oct,Disconnections Aug,Disconnections Sep,Disconnections Oct
0,97006,1,97002,1,97002,1,97007
1,97003,9,97003,11,97009,2,97005
2,97004,1,97013,1,97006,7,97005
3,97027,1,97007,3,97006,16,97028
4,97008,3,97007,6,97030,1,97009
5,97008,7,97035,1,97013,1,97009
6,97045,1,97015,6,97015,14,97068
7,97019,2,97022,1,97078,1,97020
8,97023,5,97113,1,97022,2,97024
9,97114,1,97024,11,97027,5,97116
10,97027,3,97030,18,97119,1,97030
11,97035,3,97123,1,97032,1,97038
12,97124,2,97034,1,97045,15,97127
13,97035,1,97049,1,97132,2,97038
14,97055,6,97133,1,97042,1,97060
15,97203,1,97045,8,97062,7,97217
16,97055,2,97067,1,97224,1,97060
17,97068,2,97233,8,97062,2,97070
18,97236,9,97068,2,97071,9,97266
19,97070,3,97078,7,97267,1,97071
20,97080,11,97301,3,97078,3,97086
21,97303,1,97080,3,97113,1,97304
22,97086,2,97114,1,97305,3,97089
23,97115,1,97317,2,97101,1,97119
24,97114,2,97124,26,97123,9,97127
25,97124,6,97132,9,97128,1,97133
26,97132,3,97140,2,97137,1,97148
27,97140,1,97202,6,97148,1,97203
28,97202,3,97206,8,97203,4,97209
29,97206,12,97210,2,97209,3,97213
30,97213,1,97214,3,97214,2,97215
31,97216,2,97216,1,97217,1,97217
32,97219,3,97219,10,97221,1,97222
33,97222,10,97223,9,97223,8,97224
34,97224,1,97225,4,97225,3,97229
35,97229,5,97230,22,97230,17,97232
36,97233,13,97233,22,97236,18,97236
37,97239,1,97266,17,97266,10,97267
38,97267,7,97301,19,97301,21,97302
39,97302,3,97303,9,97303,1,97305
40,97305,7,97306,8,97306,6,97317
41,97362,1,97347,1,97378,1,97362
42,97381,4,97378,3,97396,2,97381
43,97006,1,97003,1,97062,2,97006
44,97027,1,97045,1,97301,1,97303
45,97006,1,97003,1,97062,2,97006
46,97027,1,97045,1,97301,1,97303

In [42]:
import re
import pandas as pd

# Regex pattern adjusted for debugging
pattern = re.compile(
    r'(\d{5})\s+'  # Zip code
    r'(\d+)\s+(\d+)\s+(\d+)\s+'  # Active accounts for Aug, Sep, Oct
    r'(\d+)\s+(\d+)\s+(\d+)'  # Disconnections for Aug, Sep, Oct
)

# Find all matches in the text
matches = pattern.findall(pdf_text)

# Check the raw matches
for match in matches:
    print(match)

# Assuming the matches have the correct structure, create the DataFrame
# If the above print statements do not show the correct structure, you need to adjust your regex pattern accordingly
if matches:
    df = pd.DataFrame(matches, columns=[
        'Zip Code',
        'Active Accounts Aug', 'Active Accounts Sep', 'Active Accounts Oct',
        'Disconnections Aug', 'Disconnections Sep', 'Disconnections Oct'
    ])
    df.iloc[:, 1:] = df.iloc[:, 1:].apply(pd.to_numeric)
    print(df)
else:
    print("No matches found, check the regex pattern and the structure of the text.")

('97006', '1', '97002', '1', '97002', '1', '97007')
('97003', '9', '97003', '11', '97009', '2', '97005')
('97004', '1', '97013', '1', '97006', '7', '97005')
('97027', '1', '97007', '3', '97006', '16', '97028')
('97008', '3', '97007', '6', '97030', '1', '97009')
('97008', '7', '97035', '1', '97013', '1', '97009')
('97045', '1', '97015', '6', '97015', '14', '97068')
('97019', '2', '97022', '1', '97078', '1', '97020')
('97023', '5', '97113', '1', '97022', '2', '97024')
('97114', '1', '97024', '11', '97027', '5', '97116')
('97027', '3', '97030', '18', '97119', '1', '97030')
('97035', '3', '97123', '1', '97032', '1', '97038')
('97124', '2', '97034', '1', '97045', '15', '97127')
('97035', '1', '97049', '1', '97132', '2', '97038')
('97055', '6', '97133', '1', '97042', '1', '97060')
('97203', '1', '97045', '8', '97062', '7', '97217')
('97055', '2', '97067', '1', '97224', '1', '97060')
('97068', '2', '97233', '8', '97062', '2', '97070')
('97236', '9', '97068', '2', '97071', '9', '97266')
('97070', '3', '97078', '7', '97267', '1', '97071')
('97080', '11', '97301', '3', '97078', '3', '97086')
('97303', '1', '97080', '3', '97113', '1', '97304')
('97086', '2', '97114', '1', '97305', '3', '97089')
('97115', '1', '97317', '2', '97101', '1', '97119')
('97114', '2', '97124', '26', '97123', '9', '97127')
('97124', '6', '97132', '9', '97128', '1', '97133')
('97132', '3', '97140', '2', '97137', '1', '97148')
('97140', '1', '97202', '6', '97148', '1', '97203')
('97202', '3', '97206', '8', '97203', '4', '97209')
('97206', '12', '97210', '2', '97209', '3', '97213')
('97213', '1', '97214', '3', '97214', '2', '97215')
('97216', '2', '97216', '1', '97217', '1', '97217')
('97219', '3', '97219', '10', '97221', '1', '97222')
('97222', '10', '97223', '9', '97223', '8', '97224')
('97224', '1', '97225', '4', '97225', '3', '97229')
('97229', '5', '97230', '22', '97230', '17', '97232')
('97233', '13', '97233', '22', '97236', '18', '97236')
('97239', '1', '97266', '17', '97266', '10', '97267')
('97267', '7', '97301', '19', '97301', '21', '97302')
('97302', '3', '97303', '9', '97303', '1', '97305')
('97305', '7', '97306', '8', '97306', '6', '97317')
('97362', '1', '97347', '1', '97378', '1', '97362')
('97381', '4', '97378', '3', '97396', '2', '97381')
('97006', '1', '97003', '1', '97062', '2', '97006')
('97027', '1', '97045', '1', '97301', '1', '97303')
('97006', '1', '97003', '1', '97062', '2', '97006')
('97027', '1', '97045', '1', '97301', '1', '97303')
   Zip Code Active Accounts Aug Active Accounts Sep Active Accounts Oct  \
0     97006                   1               97002                   1
1     97003                   9               97003                  11
2     97004                   1               97013                   1
3     97027                   1               97007                   3
4     97008                   3               97007                   6
5     97008                   7               97035                   1
6     97045                   1               97015                   6
7     97019                   2               97022                   1
8     97023                   5               97113                   1
9     97114                   1               97024                  11
10    97027                   3               97030                  18
11    97035                   3               97123                   1
12    97124                   2               97034                   1
13    97035                   1               97049                   1
14    97055                   6               97133                   1
15    97203                   1               97045                   8
16    97055                   2               97067                   1
17    97068                   2               97233                   8
18    97236                   9               97068                   2
19    97070                   3               97078                   7
20    97080                  11               97301                   3
21    97303                   1               97080                   3
22    97086                   2               97114                   1
23    97115                   1               97317                   2
24    97114                   2               97124                  26
25    97124                   6               97132                   9
26    97132                   3               97140                   2
27    97140                   1               97202                   6
28    97202                   3               97206                   8
29    97206                  12               97210                   2
30    97213                   1               97214                   3
31    97216                   2               97216                   1
32    97219                   3               97219                  10
33    97222                  10               97223                   9
34    97224                   1               97225                   4
35    97229                   5               97230                  22
36    97233                  13               97233                  22
37    97239                   1               97266                  17
38    97267                   7               97301                  19
39    97302                   3               97303                   9
40    97305                   7               97306                   8
41    97362                   1               97347                   1
42    97381                   4               97378                   3
43    97006                   1               97003                   1
44    97027                   1               97045                   1
45    97006                   1               97003                   1
46    97027                   1               97045                   1

   Disconnections Aug Disconnections Sep Disconnections Oct
0               97002                  1              97007
1               97009                  2              97005
2               97006                  7              97005
3               97006                 16              97028
4               97030                  1              97009
5               97013                  1              97009
6               97015                 14              97068
7               97078                  1              97020
8               97022                  2              97024
9               97027                  5              97116
10              97119                  1              97030
11              97032                  1              97038
12              97045                 15              97127
13              97132                  2              97038
14              97042                  1              97060
15              97062                  7              97217
16              97224                  1              97060
17              97062                  2              97070
18              97071                  9              97266
19              97267                  1              97071
20              97078                  3              97086
21              97113                  1              97304
22              97305                  3              97089
23              97101                  1              97119
24              97123                  9              97127
25              97128                  1              97133
26              97137                  1              97148
27              97148                  1              97203
28              97203                  4              97209
29              97209                  3              97213
30              97214                  2              97215
31              97217                  1              97217
32              97221                  1              97222
33              97223                  8              97224
34              97225                  3              97229
35              97230                 17              97232
36              97236                 18              97236
37              97266                 10              97267
38              97301                 21              97302
39              97303                  1              97305
40              97306                  6              97317
41              97378                  1              97362
42              97396                  2              97381
43              97062                  2              97006
44              97301                  1              97303
45              97062                  2              97006
46              97301                  1              97303

In [43]:
import re
import pandas as pd

# Regex pattern to match the structure of the data
# This pattern is designed to capture a zip code followed by three groups of active account numbers,
# and then by three groups of disconnection numbers, all separated by whitespace.
pattern = re.compile(
    r'(\d{5})\s+'                  # Zip code
    r'(\d+)\s+(\d+)\s+(\d+)\s+'    # Active accounts for Aug, Sep, Oct
    r'(\d+)\s+(\d+)\s+(\d+)'       # Disconnections for Aug, Sep, Oct
)

# Find all matches in the text
matches = pattern.findall(pdf_text)

# If the length of the first match is not 7, it means our regex is not capturing correctly.
# We should check the first match to see what's being captured.
if matches and len(matches[0]) == 7:
    # Create a DataFrame from the matches
    df = pd.DataFrame(matches, columns=[
        'Zip Code',
        'Active Accounts Aug', 'Active Accounts Sep', 'Active Accounts Oct',
        'Disconnections Aug', 'Disconnections Sep', 'Disconnections Oct'
    ])

    # Convert the string numbers to integers
    df.iloc[:, 1:] = df.iloc[:, 1:].apply(pd.to_numeric)

    # Print the DataFrame to verify correct parsing
    print(df)
else:
    print("The regex pattern did not match the data correctly. Here are the first few matches for review:")
    print(matches[:5])

   Zip Code Active Accounts Aug Active Accounts Sep Active Accounts Oct  \
0     97006                   1               97002                   1
1     97003                   9               97003                  11
2     97004                   1               97013                   1
3     97027                   1               97007                   3
4     97008                   3               97007                   6
5     97008                   7               97035                   1
6     97045                   1               97015                   6
7     97019                   2               97022                   1
8     97023                   5               97113                   1
9     97114                   1               97024                  11
10    97027                   3               97030                  18
11    97035                   3               97123                   1
12    97124                   2               97034                   1
13    97035                   1               97049                   1
14    97055                   6               97133                   1
15    97203                   1               97045                   8
16    97055                   2               97067                   1
17    97068                   2               97233                   8
18    97236                   9               97068                   2
19    97070                   3               97078                   7
20    97080                  11               97301                   3
21    97303                   1               97080                   3
22    97086                   2               97114                   1
23    97115                   1               97317                   2
24    97114                   2               97124                  26
25    97124                   6               97132                   9
26    97132                   3               97140                   2
27    97140                   1               97202                   6
28    97202                   3               97206                   8
29    97206                  12               97210                   2
30    97213                   1               97214                   3
31    97216                   2               97216                   1
32    97219                   3               97219                  10
33    97222                  10               97223                   9
34    97224                   1               97225                   4
35    97229                   5               97230                  22
36    97233                  13               97233                  22
37    97239                   1               97266                  17
38    97267                   7               97301                  19
39    97302                   3               97303                   9
40    97305                   7               97306                   8
41    97362                   1               97347                   1
42    97381                   4               97378                   3
43    97006                   1               97003                   1
44    97027                   1               97045                   1
45    97006                   1               97003                   1
46    97027                   1               97045                   1

   Disconnections Aug Disconnections Sep Disconnections Oct
0               97002                  1              97007
1               97009                  2              97005
2               97006                  7              97005
3               97006                 16              97028
4               97030                  1              97009
5               97013                  1              97009
6               97015                 14              97068
7               97078                  1              97020
8               97022                  2              97024
9               97027                  5              97116
10              97119                  1              97030
11              97032                  1              97038
12              97045                 15              97127
13              97132                  2              97038
14              97042                  1              97060
15              97062                  7              97217
16              97224                  1              97060
17              97062                  2              97070
18              97071                  9              97266
19              97267                  1              97071
20              97078                  3              97086
21              97113                  1              97304
22              97305                  3              97089
23              97101                  1              97119
24              97123                  9              97127
25              97128                  1              97133
26              97137                  1              97148
27              97148                  1              97203
28              97203                  4              97209
29              97209                  3              97213
30              97214                  2              97215
31              97217                  1              97217
32              97221                  1              97222
33              97223                  8              97224
34              97225                  3              97229
35              97230                 17              97232
36              97236                 18              97236
37              97266                 10              97267
38              97301                 21              97302
39              97303                  1              97305
40              97306                  6              97317
41              97378                  1              97362
42              97396                  2              97381
43              97062                  2              97006
44              97301                  1              97303
45              97062                  2              97006
46              97301                  1              97303